.popularcoursescontainer{
    background-image: linear-gradient(to bottom right, rgb(161, 82, 244),rgb(166, 130, 205),rgb(253 193 211));
    width: 99%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
#popularcoursecontainerh1{
    font-size: 55px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
}
#popularcoursecontainerp{
    font-size: 30px;
    margin-bottom: 4vh;
    margin-top: 0px;
    width: 50%;
    margin-left: 90px;
    color: white;
}

.popularcourses{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    
}